body {
  margin: auto;
  max-width: 650px;
  background-color: #eeeeee;
  color: #444;
  padding: 0 10px;
  font: 1.2em/1.62 sans-serif;
}

@media (prefers-color-scheme: dark) {
  body { background: #000; color: #fff; }
  a { color: #eee; }
  a:visited { color: #eee; }
}


nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 1em;
}

.intro {
  width: 45%;
  float: left;
  margin-right: 2%;
  margin-bottom: 40px;
}

img {
  border-radius: 50%;
  width: 60%;
}
