<script>
    //initialize button to toggle styles
    const toggleButton = document.getElementById("dark-mode-button");

    //load theme prefs if they exist and apply that style
    const currentTheme = localStorage.getItem("theme") ? localStorage.getItem("theme") : null;
    if (currentTheme) 
    {
        document.documentElement.setAttribute("data-theme", currentTheme);
        currentTheme == "dark" ? toggleButton.innerText = "☀️" : toggleButton.innerText = "🌙";
    }

    // function to switch between themes with saving prefs in local storage
    function switchTheme(e) {
        if (currentTheme == "dark") 
        {
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
        }
        else 
        {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        }    
    }

    toggleButton.addEventListener("click", () => {
        switchTheme();
    });
</script>

