body {
  // margin: auto;
  // max-width: 650px;
  background-color: #eeeeee;
  color: #444;
  // padding: 0 10px;
  // font: 1.2em/1.62 sans-serif;
}

a {
  color: #444;
}

.current {
  color: #146152 !important;
}

nav {
  // this makes the nav bar sticky
  position: sticky;
  top: 0px;

  //adding flex box to center the elements
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  //set a width for the elements in nav bar -> TODO: add @media queries
  width: 100px;

  // element styling of each nav bar link
  background: linear-gradient(140deg, #B4CF66, #eee);
  border-radius: 10px;

  //align text
  text-align: center;
}

.post { 
  // padding: 10px; 
  // padding-left: 10px; 
  // margin-bottom: 20px; 
  // border-radius: 10px;
  background: linear-gradient(140deg, #B4CF66, #eee);
}


// @media (prefers-color-scheme: dark) {
//   body { background: #000; color: #fff; }
//   body .post { background: linear-gradient(305deg, #146152, #44803F, #000); border-radius: 10px; }
//   a { color: #eee; }
//   .current { color: #fdec00 !important; }
// }

// colors: #146152 #44803F #B4CF66 #FFEC5C #FF5A33 > adobe tropical fruit punch