body {
  margin: auto;
  max-width: 650px;
  background-color: #eeeeee;
  color: #444;
  padding: 0 10px;
  font: 1.2em/1.62 sans-serif;
}

a {
  color: #444;
}

.current {
  color: #a10000 !important;
}

nav a {
  margin-right: 20px;
}

.post { 
  padding: 10px; 
  padding-left: 10px; 
  margin-bottom: 20px; 
  border-radius: 10px;
  background: linear-gradient(305deg, #B4CF66, #eee);
}


@media (prefers-color-scheme: dark) {
  body { background: #000; color: #fff; }
  body .post { background: linear-gradient(305deg, #146152, #44803F, #000); border-radius: 10px; }
  a { color: #eee; }
  .current { color: #fdec00 !important; }
}

// colors: #146152 #44803F #B4CF66 #FFEC5C #FF5A33 > adobe tropical fruit punch