body {
  background-color: #eeeeee;
  color: #444;
  line-height: 1.7em;
}

a {
  color: #444;
}

.current {
  color: #146152 !important;
}

nav {
  // this makes the nav bar sticky
  position: sticky;
  top: 0px;

  //adding flex box to center the elements
  display: flex;
  justify-content: center;
  align-items: center;

  // design consideration for a better viewing experience
  background-color: #eeeeee;

  // round border to improve viewing on mobile 
  border-radius: 0px 0px 10px 10px;
}

nav a {
  //set a width for the elements in nav bar
  width: 100px;
  margin: 10px;

  // element styling of each nav bar link
  background: linear-gradient(140deg, #B4CF66, #eee);
  border-radius: 10px;

  //align text
  text-align: center;
}

div {
  // add flex to center the post elements
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post { 
  //post styling
  padding: 10px; 
  padding-left: 10px; 
  margin-bottom: 20px; 
  border-radius: 10px;
  background: linear-gradient(140deg, #B4CF66, #eee);
}

//media queries for different screen sizes
@media only screen and (min-width: 768px) {
  //desktop changes 
  body { font-size: 16px; }
  .post {  width: 650px; }
  nav { height: 3em; }
}

@media only screen and (max-width: 767px) {
  // phone specific changes to the layout
  body { font-size: 18px; }
  nav { flex-wrap: wrap; }
  nav a { margin: 5px; }
}

// dark mode style setting
@media (prefers-color-scheme: dark) {
  body { background: #000; color: #fff; }
  body .post { background: linear-gradient(305deg, #FF5A33, #000); }
  nav { background-color: #000; }
  nav a { background: linear-gradient(305deg, #FF5A33, #000);}
  a { color: #eee; }
  .current { color: #FFEC5C !important; }
}

// colors: #146152 #44803F #B4CF66 #FFEC5C #FF5A33 > adobe tropical fruit punch